@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("TableauNoir.jpg")no-repeat
    center / cover;
}

#add-task-container{

width:30vw;
padding: 20px 10px;
background: #ffffff6f;
border-radius: 0.5rem;
box-shadow: 0 0 0.2rem;
margin-bottom: 20px;
display: flex;
}

input{
    flex: 5;
    transition: .3s;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 0.5rem;
}

#add-task{

    flex: 1;
    margin-inline: 5px;
    transition: .3s;
    font-size: 1.2rem;
    padding: 5px;
    background: #ffffff;
    border: 2px solid green;
    border-radius: 0.5rem;

}

#add-task:hover{
    background: green;
    color: #555555;
}

/* Ci dessous tâches qui seront ajoutés à la todo list */ 

.task{
    width: 100%;
    background: #5555556f;
    font-family: "Dancing Script";
    color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li{
    list-style-type: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button{
    flex: 1;
    border-radius: 0.5rem;
    background: #ffffff;
    cursor: pointer;
}

.check-task{

    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.5rem;

}

.check-task:hover{
    background: orange;
    color: #ffffff;
}

.delete-task{
    color: red;
    border: 2px solid red;
    font-size: 1.3rem;
}
.delete-task:hover{
    background-color: red;
    color: #ffffff;
}

.toggle-task{
    text-decoration: line-through;
}